.dojo-info {
    padding: 15px;
    background-color: #d9edf7;
}

.dojo-danger {
    padding: 15px;
    background-color: #f2dede;
}

.dojo-container {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.dojo-row {
    margin-right: -15px;
    margin-left: -15px;
}

.dojo-col-md-4, .dojo-col-md-6, .dojo-col-md-8 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 992px) {
    .dojo-col-md-4, .dojo-col-md-6, .dojo-col-md-8 {
        float: left;
    }
    .dojo-col-md-4 {
        width: 33.33333333%;
    }
    .dojo-col-md-6 {
        width: 50%;
    }
    .dojo-col-md-8 {
        width: 66.66666667%;
    }
}

.dojo-clear, .dojo-clear-space {
    clear: both;
}

.dojo-clear-space {
    height: 20px;
}

